ul.carousel {
  display: flex;
  padding-left: 0;
  overflow: hidden;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  height: fit-content;
  scroll-behavior: smooth;
  align-items: center;
  flex-grow: 1;
  anchor-name: --carousel;
  width: 100%;
}
ul.carousel li {
  list-style-type: none;
  height: fit-content;
  flex: 0 0 100%;
  width: 0;
  padding: 50px 25px;
  scroll-snap-align: start;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}
ul.carousel::scroll-button(*) {
  margin: 0 auto;
  border: 0;
  font-size: 2rem;
  background: none;
  color: var(--color-base-text);
  -webkit-text-stroke: 1px var(--color-primary);
  opacity: 0.7;
  cursor: pointer;
  position: fixed;
  position-anchor: --carousel;
  transition: all 150ms ease-in-out;
}

ul.carousel::scroll-button(*):hover,
ul.carousel::scroll-button(*):focus {
  opacity: 1;
}

ul.carousel::scroll-button(*):active {
  translate: 1px 1px;
}

ul.carousel::scroll-button(*):disabled {
  opacity: 0.2;
  cursor: unset;
}
ul.carousel::scroll-button(left) {
  content: "◄";
  position-area: left center;
  transform: translateX(120%);
}

ul.carousel::scroll-button(right) {
  content: "►";
  transform: translateX(-120%);
  position-area: right center;
}
