@layer components {
  body:has(.sidebar.sidebar-open) {
    @apply overflow-hidden md:overflow-auto;
  }
  hr.gradiation {
    @apply h-1 w-24 bg-linear-to-r from-secondary to-light mt-2 rounded-full border-0;
  }
  /* Aside */
  .sidebar {
    @apply text-nowrap fixed md:relative opacity-0 md:opacity-100 bg-black/50 md:bg-primary;
    box-shadow: 21px 0px 47px -30px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 21px 0px 47px -30px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 21px 0px 47px -30px rgba(0, 0, 0, 0.5);
    transition: all 150ms ease-in-out;
  }
  .sidebar.sidebar-open {
    @apply z-40 top-0 md:bg-transparent opacity-100 w-full md:w-auto;
  }
  /* Navigation */
  .navigation {
    @apply md:sticky md:translate-x-0 translate-x-[-180%] top-0 bg-primary md:bg-black/40 w-[45%] md:w-auto h-dvh flex flex-col justify-center z-50;
    transition: all 250ms ease-in-out;
  }
  .sidebar.sidebar-open > .navigation {
    @apply translate-x-0;
  }
  /* Navigation Link */
  .navlink {
    @apply text-xl relative text-light font-semibold opacity-60 hover:opacity-100 active:opacity-100;
    transition: opacity 250ms ease-in-out;
  }
  .navlink.active {
    @apply text-secondary opacity-100;
  }
  .navlink::after {
    @apply absolute bg-light;
    transition: width 250ms ease-in-out;
    bottom: 0;
    left: 0;
    content: "";
    height: 2px;
    width: 0%;
    transform: translateY(4px);
  }
  .navlink:hover::after,
  .navlink.active::after {
    width: 45%;
  }
  .navlink.active::after {
    @apply bg-secondary;
  }

  /* Hamburger */
  .hamburger {
    @apply md:hidden w-7.5 h-5 items-stretch fixed top-5 right-5 z-100 flex flex-col justify-center gap-1;
  }
  .hamburger > button {
    @apply absolute inset-0 cursor-pointer;
  }
  .hamburger > .bar {
    @apply flex-1 rounded bg-white;
    transition: all 300ms ease-in-out;
    border: 0.1px solid var(--color-primary);
  }
  .hamburger > button:focus ~ .bar:first-of-type {
    @apply rotate-45 translate-y-[180%];
  }
  .hamburger > button:focus ~ .bar:nth-of-type(2) {
    @apply opacity-0;
  }
  .hamburger > button:focus ~ .bar:last-of-type {
    @apply -rotate-45 translate-y-[-180%];
  }
  /* Badge Achievements */
  .badge-achievements {
    @apply bg-primary-alternate/40 backdrop-blur-sm p-6 rounded-xl border transition duration-300 ease-in;
  }
  .badge-achievements.badge-secondary {
    @apply border-secondary/30 hover:border-secondary/60 text-secondary;
  }
  .badge-achievements.badge-tertiary {
    @apply border-tertiary/30 hover:border-tertiary/60 text-tertiary;
  }
  .badge-achievements.badge-light {
    @apply border-light/30 hover:border-light/60 text-light;
  }
  .badge-achievements > .achievement {
    @apply text-4xl font-bold;
  }
  .badge-achievements > p {
    @apply text-sm mt-2 text-base-text/85;
  }
  /* Badge Model */
  .model-badge {
    @apply absolute rounded-full hidden lg:flex items-center bg-black/80 gap-2 select-none border-white border px-4 py-2.5 text-left z-100;
  }
  .model-badge.model-harga {
    @apply bottom-2 left-3;
  }
  .model-badge.model-kapasitas {
    @apply top-2 right-3;
  }

  /* Tiara BG Text */
  .bg-brand {
    @apply absolute z-0 md:text-[300px] text-9xl tracking-[20px] text-center text-transparent select-none font-bold;
    -webkit-text-stroke: 2px var(--color-light);
    animation: bg-brand-kelap-kelip 1000ms ease-in-out infinite;
  }
  /* Item Wisata  */
  .item-wisata {
    @apply min-h-3/4 flex p-2 items-end justify-end bg-cover bg-center rounded-lg transition-all relative overflow-hidden;
    box-shadow: -1px -22px 38px 6px rgba(0, 0, 0, 0.75) inset;
    -webkit-box-shadow: -1px -22px 38px 6px rgba(0, 0, 0, 0.75) inset;
    -moz-box-shadow: -1px -22px 38px 6px rgba(0, 0, 0, 0.75) inset;
  }
  .item-wisata > .overlay {
    @apply group-hover:opacity-100 group-active:opacity-100 opacity-0 w-full transition-all duration-500 ease-in-out absolute inset-0 bg-black z-20 flex justify-center flex-col px-2.5;
  }
}
